*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
}

.row{
    padding:0;
    margin:0;
}

.nav-bar{
    width:100%;
    height:6vh;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.nav-bar .row{
    height:100%;
}

.nav-bar a{
    height:100%;
}

.nav-bar img{
    height:100%;
}

.nav-bar .row .col-sm-12{
    padding:0;
    background-color: #4E86F1;
    height:100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar .left{
    display:flex;
}

.nav-square{
    height:100%;
    max-width:6vh;
    background-color: #6C99EE;
    margin-right:10px;
}

.nav-log-off{
    height:100%;
    width:6vh;
    left:0;
}

.main-content{
    height:94vh;
}

.main-content .mainrow{
    height:100%;
}

.main-content .row .col-sm-2{
    
    color:#4E86F1;
    height:auto;
    padding:10px;
    background-color:white;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.main-content .row .col-sm-10{
    width:100%;
    padding:0;
    height:auto;
    background-color:#F8F8F8;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.page-title{
    width:90%;
    border-bottom:1px solid #4E86F1;
    margin-top:50px;
    padding-bottom:10px;
}

.page-title h1{
    color:#4E86F1;
    font-weight:900;
}

.side-nav-btn{
    border:1px solid;
    padding:12px;
    background-color:#4E86F1;
    color:white;
    font-weight:500;
    border-radius:5px;
}

.side-nav-btn:hover{
    background-color:#71A2FF;
}

.dashboard{
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    width:100%;
    height:100%;
}

.dashboard .col-sm-12{
    height:20vh;
    background-color:#4E86F1;
    border-radius:5px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}