.content-table{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    width:80%;
}

.search-table{
    align-self: flex-end;
    margin-bottom:10px;
}

.search-table input{
    border:1px solid #B1B1B1;
}

#submit{
    background-color:#6C99EE;
    border:1px solid #B1B1B1;
    color:white;
    font-weight: bold;
}

.table-container{
    width:100%;
}

table{
    border-collapse:separate;
    border-spacing:0 10px;
}

td, th{
    padding:8px 8px 8px 12px;
    max-width: 10vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr{
    background-color:white;
    box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.2);
}

tr:hover{
    filter:brightness(95%)
}

.table-btn{
    text-align: center;
}

.views{
    width:100px;
    height:30px;
    border:none;
    border-radius: 5px;
    background-color: #6C99EE;
    font-weight: 600;
    color:white;
    text-align: center;
}

.add-exam{
    width:100px;
    height:30px;
    color:#50B041;
    font-weight: bold;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}